// Colors generated https://material-foundation.github.io/material-theme-builder/
// names were changed from '--md-sys-color-*' to just be the role

:root {
    --primary: rgb(139, 74, 99);
    --surface-tint: rgb(139 74 99);
    --on-primary: rgb(255 255 255);
    --primary-container: rgb(255 217 227);
    --on-primary-container: rgb(57 7 31);
    --secondary: rgb(116 86 96);
    --on-secondary: rgb(255 255 255);
    --secondary-container: rgb(255 217 227);
    --on-secondary-container: rgb(42 21 29);
    --tertiary: rgb(125 86 54);
    --on-tertiary: rgb(255 255 255);
    --tertiary-container: rgb(255 220 195);
    --on-tertiary-container: rgb(47 21 0);
    --error: rgb(186 26 26);
    --on-error: rgb(255 255 255);
    --error-container: rgb(255 218 214);
    --on-error-container: rgb(65 0 2);
    --background: rgb(255 248 248);
    --on-background: rgb(34 25 28);
    --surface: rgb(255 248 248);
    --on-surface: rgb(34 25 28);
    --surface-variant: rgb(242 221 226);
    --on-surface-variant: rgb(81 67 71);
    --outline: rgb(131 115 119);
    --outline-variant: rgb(213 194 198);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(55 46 49);
    --inverse-on-surface: rgb(253 237 240);
    --inverse-primary: rgb(255 176 203);
    --primary-fixed: rgb(255, 217, 227);
    --on-primary-fixed: rgb(57 7 31);
    --primary-fixed-dim: rgb(255 176 203);
    --on-primary-fixed-variant: rgb(111 51 75);
    --secondary-fixed: rgb(255 217 227);
    --on-secondary-fixed: rgb(42 21 29);
    --secondary-fixed-dim: rgb(226 189 200);
    --on-secondary-fixed-variant: rgb(90 63 72);
    --tertiary-fixed: rgb(255 220 195);
    --on-tertiary-fixed: rgb(47 21 0);
    --tertiary-fixed-dim: rgb(240 188 149);
    --on-tertiary-fixed-variant: rgb(98 63 33);
    --surface-dim: rgb(230 214 217);
    --surface-bright: rgb(255 248 248);
    --surface-container-lowest: rgb(255 255 255);
    --surface-container-low: rgb(255 240 243);
    --surface-container: rgb(250 234 237);
    --surface-container-high: rgb(244 228 231);
    --surface-container-highest: rgb(239 223 226);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: rgb(255, 183, 207);
        --surface-tint: rgb(255 176 203);
        --on-primary: rgb(50 2 26);
        --primary-container: rgb(197 123 149);
        --on-primary-container: rgb(0 0 0);
        --secondary: rgb(230 193 204);
        --on-secondary: rgb(36 16 24);
        --secondary-container: rgb(169 136 146);
        --on-secondary-container: rgb(0 0 0);
        --tertiary: rgb(244 192 153);
        --on-tertiary: rgb(39 16 0);
        --tertiary-container: rgb(181 135 100);
        --on-tertiary-container: rgb(0 0 0);
        --error: rgb(255 186 177);
        --on-error: rgb(55 0 1);
        --error-container: rgb(255 84 73);
        --on-error-container: rgb(0 0 0);
        --background: rgb(25 17 20);
        --on-background: rgb(239 223 226);
        --surface: rgb(25 17 20);
        --on-surface: rgb(255 249 249);
        --surface-variant: rgb(81 67 71);
        --on-surface-variant: rgb(217 198 202);
        --outline: rgb(176 158 163);
        --outline-variant: rgb(143 127 131);
        --shadow: rgb(0 0 0);
        --scrim: rgb(0 0 0);
        --inverse-surface: rgb(239 223 226);
        --inverse-on-surface: rgb(49 40 42);
        --inverse-primary: rgb(112 52 76);
        --primary-fixed: rgb(255 217 227);
        --on-primary-fixed: rgb(43 0 20);
        --primary-fixed-dim: rgb(255 176 203);
        --on-primary-fixed-variant: rgb(91 34 58);
        --secondary-fixed: rgb(255 217 227);
        --on-secondary-fixed: rgb(31 11 18);
        --secondary-fixed-dim: rgb(226 189 200);
        --on-secondary-fixed-variant: rgb(72 47 56);
        --tertiary-fixed: rgb(255 220 195);
        --on-tertiary-fixed: rgb(32 12 0);
        --tertiary-fixed-dim: rgb(240 188 149);
        --on-tertiary-fixed-variant: rgb(79 46 18);
        --surface-dim: rgb(25 17 20);
        --surface-bright: rgb(64 55 57);
        --surface-container-lowest: rgb(19 12 14);
        --surface-container-low: rgb(34 25 28);
        --surface-container: rgb(38 29 32);
        --surface-container-high: rgb(49 40 42);
        --surface-container-highest: rgb(60 50 53);
    }
}