#i-404 {
    display: flex;
    margin: 3rem 0;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    a {
        color: var(--on-surface);
        text-decoration: none;
    }
    svg {
        fill: currentColor;
    }
    p {
        width: 8rem;
    }
}