.light-medium-contrast {
  --md-sys-color-primary: rgb(106 47 71);
  --md-sys-color-surface-tint: rgb(139 74 99);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(165 95 121);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(86 59 68);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(139 108 118);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(94 59 29);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(150 108 74);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 248);
  --md-sys-color-on-background: rgb(34 25 28);
  --md-sys-color-surface: rgb(255 248 248);
  --md-sys-color-on-surface: rgb(34 25 28);
  --md-sys-color-surface-variant: rgb(242 221 226);
  --md-sys-color-on-surface-variant: rgb(77 63 67);
  --md-sys-color-outline: rgb(106 91 95);
  --md-sys-color-outline-variant: rgb(135 119 123);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(55 46 49);
  --md-sys-color-inverse-on-surface: rgb(253 237 240);
  --md-sys-color-inverse-primary: rgb(255 176 203);
  --md-sys-color-primary-fixed: rgb(165 95 121);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(136 72 96);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(139 108 118);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(113 84 93);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(150 108 74);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(122 83 52);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(230 214 217);
  --md-sys-color-surface-bright: rgb(255 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 243);
  --md-sys-color-surface-container: rgb(250 234 237);
  --md-sys-color-surface-container-high: rgb(244 228 231);
  --md-sys-color-surface-container-highest: rgb(239 223 226);
}
