.light-high-contrast {
  --md-sys-color-primary: rgb(66 14 38);
  --md-sys-color-surface-tint: rgb(139 74 99);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(106 47 71);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(50 28 36);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(86 59 68);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(55 27 2);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(94 59 29);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(78 0 2);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(140 0 9);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 248);
  --md-sys-color-on-background: rgb(34 25 28);
  --md-sys-color-surface: rgb(255 248 248);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(242 221 226);
  --md-sys-color-on-surface-variant: rgb(44 33 36);
  --md-sys-color-outline: rgb(77 63 67);
  --md-sys-color-outline-variant: rgb(77 63 67);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(55 46 49);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(255 230 236);
  --md-sys-color-primary-fixed: rgb(106 47 71);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(79 25 48);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(86 59 68);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(62 38 46);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(94 59 29);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(68 37 9);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(230 214 217);
  --md-sys-color-surface-bright: rgb(255 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 243);
  --md-sys-color-surface-container: rgb(250 234 237);
  --md-sys-color-surface-container-high: rgb(244 228 231);
  --md-sys-color-surface-container-highest: rgb(239 223 226);
}
