<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bunn.moe >w<</title>
  <!-- <link rel="preload" href="/style.css" as="style" /> -->
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    {%- include "partials/header.html" -%}
    <div class="content">
      <main>
        <article>
          {% block main_content %}
            Nothing here?!
          {% endblock main_content %}
        </article>
      </main>  
      {%- include "partials/footer.html" -%}
    </div> 
  </div>
</body>
</html>
